body {
  margin: 0px;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
}

hr {
  border: 0.5px solid;
  width: 80%;
}

.page-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 100vw;
  max-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar-item {
  padding: 15px 30px;
  font-size: 14px;
  background: white;
  cursor: move;
}

.react-draggable {
  border-radius: 25px !important;
}

.message {
  margin: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
}

.delete-button {
  padding: 10px 15px;
  background: orangered;
  color: white;
  border-radius: 3px;
  text-align: center;
  transition: 0.3s ease all;
  cursor: pointer;
}

.text-input {
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid cornflowerblue;
  width: 100%;
}
